
  @layer base {
    :root {
      --primary: 252, 100%, 64%;
      --secondary: 254, 100%, 73%;
      --background: 0, 0%, 100%;
      --foreground: 0, 0%, 9%;
      --card: 0, 0%, 98%;
      --dark-card: 0, 0%, 7%;
      --muted: 0, 0%, 92%;
      --muted-foreground: 0, 0%, 40%;
      --accent: 0, 0%, 92%;
      --border: 220 13% 91%;
      --dark-border: 0, 0%, 11%;
    }
  }

  @layer base {
    @font-face {
      font-family: "Geist";
      src: url("/fonts/GeistVF.woff") format("woff");
    }
    * {
      @apply border-border;
    }
    body {
      font-family: "Geist", system-ui, sans-serif;
      @apply bg-background text-foreground;
    }
  }
  .perfect-shadow {
    box-shadow: var(--perfect-shadow);
    --base: hsl(214 80% 27% / 4%);
    --shade: hsl(from var(--base) calc(h + 8) 25 calc(l - 5));
    --perfect-shadow: 0 0 0 1px var(--base), 0 1px 1px -0.5px var(--shade),
      0 3px 3px -1.5px var(--shade), 0 6px 6px -3px var(--shade),
      0 12px 12px -6px var(--base), 0 24px 24px -12px var(--base);
  }
