---
import Header from "@/components/Header.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import Stack from "@/components/Stack.astro";
import Projects from "@/components/Projects.astro";
import About from "@/components/About.astro";
import Footer from "@/components/Footer.astro";
---

<Layout title="Free Astro Portfolio - LiteFolio">
  <main
    class="relative w-full flex flex-col justify-start items-center pattern"
  >
    <Header />
    <Hero />
    <Stack />
    <Projects />
    <About />
    <Footer />
  </main>
</Layout>

<style>
  .pattern {
    background-color: #ffffff;
    background-image: radial-gradient(circle at top center, #f5fdff 70px, white),
      repeating-radial-gradient(
        circle at top center,
        #ffffff,
        #ffffff,
        200px,
        transparent 0,
        #eaeaea 201px
      );
    background-blend-mode: multiply;
  }
</style>
