---
/*
  Mockup images are provided by shots.so
  Link: https://shots.so/
*/

const testimonials = [
  {
    name: "Alice Smith",
    testimonial: "Your work is truly outstanding!",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Michael Johnson",
    testimonial: "Exceptional quality and attention to detail.",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Emily Davis",
    testimonial: "Incredible results!",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Chris Lee",
    testimonial: "Your creativity and skill are unmatched.",
    src: "/",
    alt: "Logo",
  },
  {
    name: "Sophia Brown",
    testimonial: "Impressive work and great service.",
    src: "/",
    alt: "Logo",
  },
];

import Image from "astro/components/Image.astro";
---

<section
  class="relative overflow-hidden bg-foreground w-full max-w-screen-2xl text-center flex flex-col justify-center items-center gap-10 px-4 py-24 sm:py-24 select-none"
>
  <h2
    class="z-10 w-full max-w-xl sm:text-center text-lg sm:text-2xl md:text-4xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-b from-background via-background to-muted-foreground"
  >
    Every project is a new challenge to overcome.
  </h2>
  <p
    class="w-full max-w-xl bg-clip-text text-transparent bg-gradient-to-b from-background via-background to-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter text-balance"
  >
    Design, Code, Learn, Repeat.
  </p>
  <div class="z-10 w-full grid grid-cols-1 md:grid-cols-5 grid-rows-6 gap-2">
    <article
      class="overflow-hidden relative bg-dark-card col-span-1 md:col-span-3 md:row-span-2 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 tetx-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          You Project Here
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          Your project description here.
        </p>
      </div>
      <div class="aspect-video">
        <Image
          src="/assets/mockup1.png"
          alt="Mockup Project"
          loading="lazy"
          width={1920}
          height={1080}
          class="object-contain w-full h-full rounded-md"
        />
      </div>
    </article>
    <article
      class="overflow-hidden group bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:col-start-4 h-[300px] border border-dark-border rounded-[1rem] p-4 flex flex-col flex-1 gap-2 justify-center items-center"
    >
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center rotate-12 group-hover:rotate-0 border transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Building in public
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center -rotate-6 group-hover:rotate-0 border transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Web Development
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center border"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Design
        </span>
      </div>
      <div
        class="w-fit rounded-full bg-background px-4 py-2 flex justify-center items-center border rotate-12 group-hover:rotate-0 transition-all duration-300 ease-in-out"
      >
        <span
          class="text-normal sm:text-lg md:text-xl font-light tracking-tighter"
        >
          Open Source
        </span>
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:row-start-3 border h-[300px] border-dark-border rounded-[1rem] px-4 group"
    >
      <div
        class="w-full h-fit max-h-[500px] flex flex-col justify-center select-none overflow-hidden"
      >
        <div
          class="w-full h-max flex flex-col justify-center items-center gap-[4rem] animate-vertical-slide"
        >
          {
            testimonials.concat(testimonials).map((testimonial) => (
              <article class="w-full max-w-sm flex flex-col gap-2 items-center justify-center size-20 border border-dark-border bg-background rounded-[1rem] px-4 py-2">
                <div class="w-full flex items-center justify-start gap-2">
                  {/* <Image
                    src={testimonial.src}
                    alt={testimonial.alt}
                    width={32}
                    height={32}
                    loading="lazy"
                    class="object-contain w-8 h-8 rounded-full bg-secondary"
                  /> */}
                  <span class="w-7 h-7 rounded-full bg-gradient-to-r from-primary to-secondary" />
                  <h1 class="text-sm font-medium">{testimonial.name}</h1>
                </div>
                <p class="w-full text-left text-muted-foreground text-xs">
                  {testimonial.testimonial}
                </p>
              </article>
            ))
          }
        </div>
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-3 md:row-span-2 md:col-start-3 md:row-start-3 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 tetx-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          You Project Here
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          Your project description here.
        </p>
      </div>
      <div class="aspect-video">
        <Image
          src="/assets/mockup2.png"
          alt="Mockup Project"
          loading="lazy"
          width={1920}
          height={1080}
          class="object-contain w-full h-full rounded-md"
        />
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-3 md:row-span-2 md:row-start-5 border h-[300px] border-dark-border rounded-[1rem] flex flex-col lg:flex-row lg:gap-3"
    >
      <div class="flex flex-col gap-2 w-full items-start p-4 tetx-left">
        <h3
          class="text-left sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          You Project Here
        </h3>
        <p
          class="w-full text-muted-foreground text-left text-sm sm:text-normal md:text-lg font-light tracking-tighter text-balance"
        >
          Your project description here.
        </p>
      </div>
      <div class="aspect-video">
        <Image
          src="/assets/mockup3.png"
          alt="Mockup Project"
          loading="lazy"
          width={1920}
          height={1080}
          class="object-contain w-full h-full rounded-md"
        />
      </div>
    </article>
    <article
      class="overflow-hidden bg-dark-card col-span-1 md:col-span-2 md:row-span-2 md:col-start-4 md:row-start-5 border h-[300px] border-dark-border rounded-[1rem]"
    >
      <div
        class="w-full h-full flex flex-col gap-5 justify-center items-center"
      >
        <h1
          class="sm:text-xl md:text-2xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-background via-background to-secondary"
        >
          Lets work together
        </h1>
        <a
          href="https://www.linkedin.com/in/gonzalochale/"
          target="_blank"
          rel="noopener noreferrer"
          class="w-fit flex gap-2 justify-center items-center px-4 py-2 sm:text-lg font-medium text-background bg-primary rounded-full"
        >
          LinkedIn
          <svg
            width="256"
            height="256"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid"
            viewBox="0 0 256 256"
            class="size-5"
            ><path
              d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
              fill="currentColor"></path></svg
          >
        </a>
      </div>
    </article>
  </div>
  <div
    class="bg-white opacity-10 absolute size-80 top-[-160px] border blur-[150px] rounded-full"
  >
  </div>
</section>

<style>
  .group:hover .animate-vertical-slide {
    animation-play-state: paused;
  }
</style>
