---
import Image from "astro/components/Image.astro";

/* 
    Logos were provided by "svgl" free and open source icons library.
    Link: https://svgl.app/
*/
const logos = [
  { src: "/logos/astro.svg", alt: "AstroJS Logo" },
  { src: "/logos/react.svg", alt: "ReactJS Logo" },
  { src: "/logos/next.svg", alt: "NextJS" },
  { src: "/logos/vercel.svg", alt: "Vercel Logo" },
  { src: "/logos/tailwindcss.svg", alt: "TailwindCSS Logo" },
  { src: "/logos/typescript.svg", alt: "TypeScript Logo" },
  { src: "/logos/aws.svg", alt: "AWS Logo" },
  { src: "/logos/supabase.svg", alt: "Supabase Logo" },
  { src: "/logos/openai_dark.svg", alt: "OpenAI Logo" },
];
---

<section
  class="relative w-full text-center flex flex-col justify-center items-center gap-5 px-4 py-20 sm:py-24 pointer-events-none"
>
  <h2
    class="w-full max-w-xl sm:text-center text-lg sm:text-2xl md:text-4xl font-medium tracking-tighter text-pretty bg-clip-text text-transparent bg-gradient-to-br from-primary via-foreground to-foreground"
  >
    Top Technologies I Use Everyday
  </h2>
  <p
    class="w-full max-w-xl text-muted-foreground sm:text-center text-normal sm:text-lg md:text-xl font-light tracking-tighter text-balance"
  >
    Best tools to deliver the best results.
  </p>
  <div
    class="w-full h-fit max-w-xl flex flex-col justify-center select-none overflow-hidden gradient"
  >
    <div class="w-max flex flex-nowrap gap-[4rem] animate-slide-logos">
      {
        logos.concat(logos).map((logo) => (
          <div class="aspect-square flex items-center justify-center size-20">
            <Image
              src={logo.src}
              alt={logo.alt}
              width={32}
              height={32}
              loading="eager"
              class="object-contain"
            />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .gradient {
    mask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      transparent
    );
    webkitmask: linear-gradient(
      90deg,
      transparent,
      black 20%,
      black 80%,
      black transparent
    );
  }
</style>
